@font-face {
    font-family: 'SourceSansPro';
    src: url(../fonts/SourceSansPro-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url(../fonts/SourceSansPro-Regular.ttf);
    font-weight: 400;
}